.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    border-bottom: 2px solid var(--light);
    background-color: var(--white);

    .link {
        display: flex;
        text-decoration: none;
        color: var(--dark);
        align-items: center;
        gap: var(--gutter-xs);
        justify-content: flex-start;
        padding: var(--gutter-xs);
        border-bottom: 2px solid transparent;
        &.is-active {
            border-bottom: 2px solid var(--primary);
        }

        @media screen and (max-width: 810px) {
            display: none;
            
        }
    }

    &__logo {
        
        color: inherit;
        text-decoration: none;

        svg {
            height: 40px;
            width: auto;
        }
    }

    &__container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 var(--gutter-s);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 810px) {
            padding-top: var(--gutter-2xs);
            padding-bottom: var(--gutter-2xs);
        }

        &--left {
            display: flex;
            align-items: center;
            gap: var(--gutter-2xl);

            @media screen and (max-width: 1100px) {
                gap: var(--gutter-m);
            }
        }

        &--right {
            display: flex;
            align-items: center;
            gap: var(--gutter-2xl);
            position: relative;

            @media screen and (max-width: 1100px) {
                gap: var(--gutter-m);
            }

            .avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: var(--light);
            }

            .button {
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                gap: var(--gutter-xs);

                svg {
                    transition: all 0.3s ease;
                }
            }
        }
    }

    
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    min-height: 100vh;
    z-index: 100;
    transform: translateX(100%);

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        opacity: .45;
        backdrop-filter: blur(10px);
        transition: all ease 0.3s;
    }

    &.is-active {
        transform: translateX(0%);

        .menu__background {
            background-color: var(--primary);
            transition: all ease 0.3s;
        }
    }

    

    &__aside {
        position: relative;
        width: 100%;
        max-width: 240px;
        height: 100%;
        background-color: var(--white);
        margin: 0 0 0 auto;
        padding-top: 4rem;

        @media screen and (max-width: 400px) {
            max-width: 320px;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        border-bottom: solid 1px var(--light);
        a {
            display: block;
            color: inherit;
            text-decoration: none;
            font-size: var(--fs-s);
            padding: var(--gutter-2xs) var(--gutter-s);
        }
    }
}