.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    border-bottom: 2px solid var(--light);
    background-color: var(--white);

    .link {
        display: flex;
        text-decoration: none;
        color: var(--dark);
        align-items: center;
        gap: var(--gutter-xs);
        justify-content: flex-start;
        padding: var(--gutter-xs);
        border-bottom: 2px solid transparent;
        &.is-active {
            border-bottom: 2px solid var(--primary);
        }
    }

    &__logo {
        
        color: inherit;
        text-decoration: none;

        svg {
            height: 40px;
            width: auto;
        }
    }

    &__container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 var(--gutter-s);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
            display: flex;
            align-items: center;
            gap: var(--gutter-2xl);
        }

        &--right {
            display: flex;
            align-items: center;
            gap: var(--gutter-2xl);
            position: relative;

            .avatar {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: var(--light);
            }

            .button {
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                gap: var(--gutter-xs);

                svg {
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--white);
        border-radius: var(--gutter-3xs);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        height: 0px;
        overflow: hidden;
        flex-direction: column;
        z-index: 1;
        list-style: none;
        transition: all 0.3s ease;

        &.is-active {
            height: auto;
        }

        &__item {
            border-bottom: solid 1px var(--light);
            a {
                display: block;
                color: inherit;
                text-decoration: none;
                font-size: var(--fs-s);
                padding: var(--gutter-2xs) var(--gutter-s);
            }
        }
    }
}