<div class="bookingform">
	<h2>
		<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M4.752 11C5.40707 11.838 6.16198 12.5929 7 13.248V17.25C7 17.664 7.336 18 7.75 18C8.52755 18.0002 9.29443 17.819 9.98969 17.4709C10.685 17.1227 11.2895 16.6173 11.7551 15.9946C12.2208 15.3719 12.5349 14.6492 12.6724 13.8839C12.8098 13.1186 12.7669 12.3318 12.547 11.586C14.2706 10.3587 15.6681 8.72883 16.6179 6.83817C17.5678 4.94751 18.0412 2.85337 17.997 0.737979C17.9932 0.544246 17.9145 0.359518 17.7775 0.222501C17.6405 0.0854852 17.4557 0.00681605 17.262 0.00297864C15.1464 -0.041402 13.0521 0.431941 11.1613 1.38181C9.2704 2.33168 7.64036 3.72928 6.413 5.45298C5.66725 5.23327 4.88055 5.1905 4.11537 5.32805C3.3502 5.4656 2.62764 5.77968 2.0051 6.24535C1.38255 6.71102 0.877175 7.31545 0.529107 8.01062C0.18104 8.70578 -0.000126004 9.47254 6.57519e-08 10.25C0.00100007 10.664 0.337 11 0.751 11H4.752ZM12 7.99998C12.5304 7.99998 13.0391 7.78926 13.4142 7.41419C13.7893 7.03912 14 6.53041 14 5.99998C14 5.46955 13.7893 4.96084 13.4142 4.58576C13.0391 4.21069 12.5304 3.99998 12 3.99998C11.4696 3.99998 10.9609 4.21069 10.5858 4.58576C10.2107 4.96084 10 5.46955 10 5.99998C10 6.53041 10.2107 7.03912 10.5858 7.41419C10.9609 7.78926 11.4696 7.99998 12 7.99998Z"
				fill="#020047"></path>
		</svg>
		<span>Fahrt bestellen</span>
	</h2>
	<form class="bookingform__form" action="/app" method="GET">
		<div class="bookingform__form--input">
			<div class="icon">
				<svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M6.69 16.933L6.693 16.934C6.89 17.02 7 17 7 17C7 17 7.11 17.02 7.308 16.934L7.31 16.933L7.316 16.93L7.334 16.922C7.42893 16.8779 7.52263 16.8312 7.615 16.782C7.801 16.686 8.061 16.542 8.372 16.349C8.992 15.965 9.817 15.383 10.646 14.584C12.302 12.988 14 10.493 14 7C14 6.08075 13.8189 5.1705 13.4672 4.32122C13.1154 3.47194 12.5998 2.70026 11.9497 2.05025C11.2997 1.40024 10.5281 0.884626 9.67878 0.532843C8.8295 0.18106 7.91925 0 7 0C6.08075 0 5.1705 0.18106 4.32122 0.532843C3.47194 0.884626 2.70026 1.40024 2.05025 2.05025C1.40024 2.70026 0.884626 3.47194 0.532843 4.32122C0.18106 5.1705 -1.36979e-08 6.08075 0 7C0 10.492 1.698 12.988 3.355 14.584C4.04875 15.2503 4.8106 15.8419 5.628 16.349C5.94459 16.5456 6.27029 16.7271 6.604 16.893L6.666 16.922L6.684 16.93L6.69 16.933ZM7 9.25C7.59674 9.25 8.16903 9.01295 8.59099 8.59099C9.01295 8.16903 9.25 7.59674 9.25 7C9.25 6.40326 9.01295 5.83097 8.59099 5.40901C8.16903 4.98705 7.59674 4.75 7 4.75C6.40326 4.75 5.83097 4.98705 5.40901 5.40901C4.98705 5.83097 4.75 6.40326 4.75 7C4.75 7.59674 4.98705 8.16903 5.40901 8.59099C5.83097 9.01295 6.40326 9.25 7 9.25Z"
						fill="#9E9E9E"></path>
				</svg>
			</div>
			<input type="text" name="from" id="from" placeholder="Abholort" />
		</div>
		<div class="bookingform__form--input">
			<div class="icon">
				<svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M6.69 16.933L6.693 16.934C6.89 17.02 7 17 7 17C7 17 7.11 17.02 7.308 16.934L7.31 16.933L7.316 16.93L7.334 16.922C7.42893 16.8779 7.52263 16.8312 7.615 16.782C7.801 16.686 8.061 16.542 8.372 16.349C8.992 15.965 9.817 15.383 10.646 14.584C12.302 12.988 14 10.493 14 7C14 6.08075 13.8189 5.1705 13.4672 4.32122C13.1154 3.47194 12.5998 2.70026 11.9497 2.05025C11.2997 1.40024 10.5281 0.884626 9.67878 0.532843C8.8295 0.18106 7.91925 0 7 0C6.08075 0 5.1705 0.18106 4.32122 0.532843C3.47194 0.884626 2.70026 1.40024 2.05025 2.05025C1.40024 2.70026 0.884626 3.47194 0.532843 4.32122C0.18106 5.1705 -1.36979e-08 6.08075 0 7C0 10.492 1.698 12.988 3.355 14.584C4.04875 15.2503 4.8106 15.8419 5.628 16.349C5.94459 16.5456 6.27029 16.7271 6.604 16.893L6.666 16.922L6.684 16.93L6.69 16.933ZM7 9.25C7.59674 9.25 8.16903 9.01295 8.59099 8.59099C9.01295 8.16903 9.25 7.59674 9.25 7C9.25 6.40326 9.01295 5.83097 8.59099 5.40901C8.16903 4.98705 7.59674 4.75 7 4.75C6.40326 4.75 5.83097 4.98705 5.40901 5.40901C4.98705 5.83097 4.75 6.40326 4.75 7C4.75 7.59674 4.98705 8.16903 5.40901 8.59099C5.83097 9.01295 6.40326 9.25 7 9.25Z"
						fill="#9E9E9E"></path>
				</svg>
			</div>
			<input type="text" name="to" id="to" placeholder="Ankunftsort" />
		</div>
		<div class="bookingform__form--input">
			<div class="icon">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM8.75 3C8.75 2.80109 8.67098 2.61032 8.53033 2.46967C8.38968 2.32902 8.19891 2.25 8 2.25C7.80109 2.25 7.61032 2.32902 7.46967 2.46967C7.32902 2.61032 7.25 2.80109 7.25 3V8C7.25 8.414 7.586 8.75 8 8.75H12C12.1989 8.75 12.3897 8.67098 12.5303 8.53033C12.671 8.38968 12.75 8.19891 12.75 8C12.75 7.80109 12.671 7.61032 12.5303 7.46967C12.3897 7.32902 12.1989 7.25 12 7.25H8.75V3Z"
						fill="#9E9E9E"></path>
				</svg>
			</div>
			<input type="text" name="date" id="date" placeholder="jetzt abholen" />
		</div>
		<button type="submit">
			<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M7 1.50002C5.54131 1.50002 4.14236 2.07948 3.11091 3.11093C2.07946 4.14238 1.5 5.54133 1.5 7.00002C1.5 8.45871 2.07946 9.85766 3.11091 10.8891C4.14236 11.9206 5.54131 12.5 7 12.5C8.45869 12.5 9.85764 11.9206 10.8891 10.8891C11.9205 9.85766 12.5 8.45871 12.5 7.00002C12.5 5.54133 11.9205 4.14238 10.8891 3.11093C9.85764 2.07948 8.45869 1.50002 7 1.50002ZM1.61595e-08 7.00002C9.44369e-05 5.88069 0.268612 4.7777 0.783029 3.78358C1.29745 2.78946 2.04276 1.9332 2.95645 1.28662C3.87015 0.640037 4.92557 0.221995 6.0342 0.0675585C7.14282 -0.0868776 8.27232 0.0267958 9.32794 0.399043C10.3836 0.771291 11.3345 1.39126 12.101 2.20694C12.8676 3.02262 13.4273 4.01022 13.7333 5.08691C14.0393 6.1636 14.0827 7.29797 13.8597 8.39488C13.6368 9.49178 13.154 10.5192 12.452 11.391L15.78 14.72C15.8537 14.7887 15.9128 14.8715 15.9538 14.9635C15.9948 15.0555 16.0168 15.1548 16.0186 15.2555C16.0204 15.3562 16.0018 15.4562 15.9641 15.5496C15.9264 15.643 15.8703 15.7278 15.799 15.7991C15.7278 15.8703 15.643 15.9264 15.5496 15.9641C15.4562 16.0019 15.3562 16.0204 15.2555 16.0186C15.1548 16.0168 15.0555 15.9948 14.9635 15.9538C14.8715 15.9128 14.7887 15.8537 14.72 15.78L11.391 12.452C10.3625 13.2804 9.12074 13.801 7.80901 13.9536C6.49727 14.1062 5.16912 13.8847 3.97795 13.3145C2.78677 12.7444 1.78117 11.849 1.07727 10.7316C0.373379 9.61427 -8.9698e-05 8.3206 1.61595e-08 7.00002Z"
					fill="white"></path>
			</svg>

			<span>suchen</span>
		</button>
	</form>
</div>
