---
const { pathname } = Astro.url;
console.log({ pathname });
---

<header class="header">
	<div class="header__container">
		<div class="header__container--left">
			<a href="/" class="header__logo">
				<svg
					width="329"
					height="124"
					viewBox="0 0 329 124"
					fill="currentColor"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M250.827 3.31766V6.62283L286.684 6.62283H322.528V39.3775V72.1322H325.77H329V36.0723V9.91821e-05H289.913L250.827 9.91821e-05V3.31766Z"
					></path>
					<path
						d="M87.0726 32.334C85.5935 33.8194 84.3855 35.0945 84.3855 35.1564C84.3855 35.3297 89.5872 40.5536 89.7597 40.5536C89.8214 40.5536 91.0293 39.4023 92.4469 37.9911L94.9984 35.4163L97.6239 38.053L100.237 40.6774L102.986 37.9169L105.747 35.1564L102.986 32.3959L100.225 29.623L99.5714 30.3162C99.214 30.6876 98.0306 31.8759 96.9583 32.9405L94.9984 34.8964L92.3729 32.2597L89.7597 29.6354L87.0726 32.334Z"
					></path>
					<path
						d="M26.4274 35.2554C26.2672 35.3297 26.1069 35.5154 26.0699 35.6639C26.033 35.8125 26.0206 47.1268 26.0453 60.8055L26.0823 85.6748L29.7185 81.5403C38.729 71.3029 40.3068 69.5327 40.467 69.5451C40.5286 69.5575 44.0663 73.9025 48.3311 79.2254C52.7316 84.6969 56.2076 88.9181 56.3555 88.9553C56.5034 89.0048 59.2892 89.0295 62.5433 89.0295C68.2134 89.0295 68.4722 89.0295 68.7187 88.782C68.8543 88.6458 68.9406 88.4354 68.9036 88.2868C68.8667 88.1506 68.0654 87.1356 67.1287 86.0338C66.1919 84.9321 61.3476 79.213 56.3802 73.3207C47.6902 63.0338 47.3327 62.6005 47.5176 62.3158C47.6902 62.0311 59.8562 46.9287 65.8467 39.5509C67.4368 37.595 68.7311 35.8867 68.7311 35.7506C68.7311 35.602 68.5832 35.4039 68.4229 35.2925C68.1517 35.1069 67.3875 35.0945 62.42 35.1192C57.7854 35.1564 56.6883 35.1935 56.5158 35.3421C56.3925 35.4411 51.8195 41.0364 46.3589 47.7953L36.4363 60.0628L36.3747 47.82L36.3007 35.5896L35.9926 35.3421C35.7091 35.1069 35.4379 35.0945 31.21 35.1069C28.2394 35.1069 26.6246 35.1564 26.4274 35.2554Z"
					></path>
					<path
						d="M109.543 35.243C109.383 35.3173 109.223 35.503 109.186 35.6639C109.136 35.8124 109.112 44.1063 109.112 54.0714C109.112 69.7184 109.075 72.3179 108.915 72.9616C108.175 75.784 105.87 77.8142 102.369 78.7178C100.878 79.1016 97.3772 79.0768 95.9844 78.6683C93.1493 77.8389 91.1032 76.1678 90.0185 73.7786C89.1433 71.8847 89.1803 72.3798 89.1803 57.9088L89.1803 44.8367L84.1635 44.8738L79.1467 44.9109V59.0725C79.1467 74.7442 79.1097 74.0757 79.9849 76.7125C82.8692 85.3901 92.2495 90.2426 103.158 88.6953C107.62 88.0516 111.392 86.3061 114.227 83.558C116.779 81.0822 118.295 78.1608 119.022 74.3481C119.244 73.1968 119.256 71.8475 119.293 54.4304L119.343 35.7382L119.022 35.4163L118.689 35.0944L114.252 35.1068C111.454 35.1068 109.716 35.1563 109.543 35.243Z"
					></path>
					<path
						d="M144.266 35.2306C138.572 35.7628 133.518 39.0433 131.053 43.8092C129.906 46.025 129.426 47.9561 129.327 50.7785C129.204 54.5788 130.042 57.5374 131.989 60.1741C133.925 62.7985 136.501 64.5934 140.026 65.7694C141.764 66.3512 143.305 66.6483 145.511 66.8092C147.188 66.933 148.161 67.193 149.222 67.7996C151.835 69.3345 153.092 72.095 152.402 74.7813C151.81 77.059 149.641 78.8292 146.991 79.1882L145.869 79.3491V84.2017V89.0542L146.991 88.9799C155.101 88.3734 160.845 83.657 162.25 76.4648C162.583 74.7689 162.559 71.5751 162.189 69.8297C161.005 64.2344 157.554 60.3227 152.069 58.3916C150.38 57.785 148.618 57.4508 146.436 57.3146C143.478 57.1289 141.974 56.5719 140.704 55.1854C139.632 54.0218 139.188 52.6106 139.299 50.828C139.496 47.758 141.308 45.666 144.316 45.0223C145.524 44.7623 147.249 44.849 148.47 45.2327C150.701 45.926 152.192 47.6838 152.426 49.9244C152.55 51.1375 152.34 51.0756 157.332 51.0756C159.982 51.0756 161.77 51.0261 161.992 50.9518L162.337 50.8156L162.25 49.4911C161.807 42.2989 156.543 36.6418 149.16 35.4286C147.607 35.181 145.672 35.0944 144.266 35.2306Z"
					></path>
					<path
						d="M172.654 35.2677L172.333 35.4286V39.7737V44.1187L172.654 44.2796C172.913 44.4158 176.191 44.4529 188.32 44.4405C196.752 44.4281 203.802 44.391 203.975 44.3415L204.295 44.2425L204.332 39.8974C204.369 35.5896 204.369 35.5524 204.098 35.3172C203.839 35.1068 202.89 35.0944 188.394 35.0944C176.228 35.0944 172.913 35.1316 172.654 35.2677Z"
					></path>
					<path
						d="M214.464 35.2677L214.131 35.4286L214.107 62.031L214.07 88.6333L214.366 88.8438C214.637 89.0171 216.128 89.0295 227.086 89.0047L239.499 88.9676V83.9665V78.9654L231.894 78.9282L224.288 78.8911L224.325 72.8873L224.362 66.8712L235.024 66.8464C242.765 66.8216 245.736 66.7721 245.859 66.6607C246.007 66.5493 246.044 65.6704 246.044 62.0062C246.044 57.7974 246.019 57.4755 245.798 57.2775C245.588 57.0794 244.639 57.0547 234.926 57.0547H224.301V51.0137V44.9728L231.894 44.9357L239.499 44.9109V40.0336V35.1563L227.148 35.1315C217.373 35.1068 214.711 35.1315 214.464 35.2677Z"
					></path>
					<path
						d="M255.93 35.4162L255.622 35.7381V55.891V76.0315H260.786H265.963L266 64.7791L266.037 53.5142L268.959 57.7231C287.657 84.6968 290.603 88.8809 290.862 88.9552C291.01 88.9923 293.13 89.0294 295.571 89.0294C300.206 89.0418 300.563 88.9923 300.711 88.4724C300.748 88.3115 300.785 76.3905 300.785 61.9567V35.7381L300.464 35.4038L300.144 35.082L295.559 35.1191C291.922 35.1563 290.949 35.1934 290.776 35.3419C290.579 35.5029 290.566 36.9017 290.566 53.0562C290.566 64.0487 290.517 70.5848 290.443 70.56C290.369 70.5353 287.793 66.8835 284.712 62.4518C269.119 40.0088 265.766 35.2305 265.52 35.1686C265.372 35.1315 263.227 35.0944 260.749 35.0944H256.25L255.93 35.4162Z"
					></path>
					<path
						d="M0 87.9897L0 124L39.0865 124H78.173V120.744V117.501H42.3283L6.47128 117.501L6.47128 84.7464L6.47128 51.9917H3.2418H0L0 87.9897Z"
					></path>
					<path
						d="M183.267 71.6123V88.6333L183.55 88.8314C183.797 89.0047 184.475 89.0294 188.32 89.0294C192.672 89.0418 192.819 89.0294 193.152 88.7695L193.497 88.4972L193.46 71.5751L193.423 54.6531L188.345 54.6284L183.267 54.5912V71.6123Z"
					></path>
					<path
						d="M201.263 98.4003C199.981 98.5736 198.995 98.9945 198.218 99.7125C197.232 100.616 196.936 101.309 196.924 102.683C196.924 103.674 196.961 103.859 197.306 104.478C198.021 105.791 198.945 106.31 201.916 107.115C204.085 107.685 204.726 107.957 205.133 108.477C205.688 109.195 205.343 110.358 204.431 110.792C202.594 111.671 199.697 111.175 198.107 109.702L197.516 109.158L196.998 110.21C196.702 110.779 196.505 111.324 196.542 111.423C196.751 111.943 198.502 112.908 199.968 113.305C201.238 113.639 203.654 113.602 204.726 113.23C206.822 112.5 207.882 111.163 207.894 109.257C207.907 106.991 206.625 105.791 203.309 104.961C201.152 104.416 200.375 104.119 199.895 103.661C199.525 103.302 199.451 103.141 199.451 102.683C199.451 101.619 200.19 100.963 201.67 100.715C202.828 100.53 204.061 100.752 205.33 101.371C205.897 101.656 206.427 101.904 206.489 101.928C206.551 101.953 206.797 101.507 207.044 100.938C207.549 99.7373 207.586 99.8115 206.243 99.1678C204.788 98.4746 202.89 98.1775 201.263 98.4003Z"
					></path>
					<path
						d="M212.394 105.927V113.466H213.688H214.982V110.222V106.967H218.729H222.489V110.222V113.466H223.783H225.077V105.927V98.388L223.808 98.4252L222.55 98.4623L222.513 101.545L222.476 104.627H218.729H214.982L214.945 101.545L214.908 98.4623L213.651 98.4252L212.394 98.388V105.927Z"
					></path>
					<path
						d="M230.797 103.686C230.834 108.848 230.846 109.009 231.142 109.801C231.98 112.104 233.817 113.379 236.528 113.552C239.893 113.787 242.334 112.005 243 108.836C243.148 108.155 243.184 106.843 243.184 103.166L243.197 98.388H241.977H240.756L240.695 103.302C240.645 108.724 240.608 109.046 239.819 109.999C239.191 110.755 238.525 111.039 237.219 111.101C235.752 111.175 234.988 110.94 234.285 110.16C233.36 109.158 233.311 108.873 233.262 103.302L233.2 98.388H231.98H230.747L230.797 103.686Z"
					></path>
					<path
						d="M246.475 98.5737C246.438 98.6604 246.426 99.205 246.451 99.7745L246.488 100.802L248.916 100.839L251.344 100.864V107.165V113.466H252.639H253.933V107.165V100.864H256.324H258.728V99.6259V98.388H252.639C247.671 98.388 246.537 98.4252 246.475 98.5737Z"
					></path>
					<path
						d="M260.404 99.6259V100.864H262.795H265.199V107.165V113.466H266.493H267.787V107.165V100.864L270.203 100.839L272.632 100.802V99.6259V98.4623L266.518 98.4252L260.404 98.388V99.6259Z"
					></path>
					<path
						d="M276.33 105.927V113.466H281.433H286.548V112.302V111.138L282.702 111.101L278.844 111.064L278.819 104.726L278.783 98.388H277.55H276.33V105.927Z"
					></path>
					<path
						d="M290.308 105.927V113.466H295.743H301.179V112.302V111.138L297.001 111.101L292.822 111.064V109.046V107.041L296.421 107.004L300.008 106.967V105.803V104.627H296.384H292.761V102.745V100.864L296.804 100.839L300.847 100.802V99.6259V98.4623L295.571 98.4252L290.308 98.388V105.927Z"
					></path>
				</svg></a
			>
			<a href="/app" class={pathname == "/app" ? "link is-active" : "link"}>
				<svg width="18" height="14" viewBox="0 0 18 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M15.675 4.75L14.55 1.3C14.325 0.7 13.8 0.25 13.125 0.25H4.8C4.125 0.25 3.6 0.625 3.375 1.3L2.25 4.75H0.75V7H1.5V13.75H4.5V12.25H13.5V13.75H16.5V7H17.25V4.75H15.675ZM3.75 8.5H6.75V10H3.75V8.5ZM11.25 10V8.5H14.25V10H11.25ZM5.325 2.5H12.6L13.575 5.5H4.35L5.325 2.5Z"
					></path>
				</svg>
				<span>neue Fahrt</span>
			</a>
		</div>

		<div class="header__container--right">
			<a href="/app/orders" class={pathname == "/app/orders" ? "link is-active" : "link"}>
				<svg
					width="20"
					height="18"
					viewBox="0 0 20 18"
					fill="none"
					stroke="currentColor"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M4 3.878V3C4 2.40326 4.23705 1.83097 4.65901 1.40901C5.08097 0.987053 5.65326 0.75 6.25 0.75H13.75C14.3467 0.75 14.919 0.987053 15.341 1.40901C15.7629 1.83097 16 2.40326 16 3V3.878M4 3.878C4.235 3.795 4.487 3.75 4.75 3.75H15.25C15.513 3.75 15.765 3.795 16 3.878M4 3.878C3.56121 4.03313 3.18133 4.32052 2.91269 4.70056C2.64404 5.0806 2.49986 5.5346 2.5 6V6.878M16 3.878C16.4388 4.03313 16.8187 4.32052 17.0873 4.70056C17.356 5.0806 17.5001 5.5346 17.5 6V6.878M2.5 6.878C2.735 6.795 2.987 6.75 3.25 6.75H16.75C17.0055 6.7497 17.2591 6.79299 17.5 6.878M2.5 6.878C1.626 7.187 1 8.02 1 9V15C1 15.5967 1.23705 16.169 1.65901 16.591C2.08097 17.0129 2.65326 17.25 3.25 17.25H16.75C17.3467 17.25 17.919 17.0129 18.341 16.591C18.7629 16.169 19 15.5967 19 15V9C19.0001 8.5346 18.856 8.0806 18.5873 7.70056C18.3187 7.32052 17.9388 7.03313 17.5 6.878"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
				<span>meine Fahrten</span>
			</a>

			<button class="button" id="menu-trigger">
				<div class="avatar"></div>
				<svg width="11" height="6" viewBox="0 0 11 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M0.21934 0.238708C0.359965 0.0982579 0.550589 0.0193681 0.74934 0.0193681C0.948091 0.0193681 1.13871 0.0982579 1.27934 0.238708L4.99934 3.95871L8.71934 0.238708C8.788 0.165022 8.8708 0.105919 8.9628 0.064927C9.0548 0.023935 9.15411 0.00189351 9.25482 0.000116722C9.35552 -0.00166006 9.45555 0.0168643 9.54894 0.0545854C9.64233 0.0923064 9.72716 0.148451 9.79838 0.21967C9.8696 0.290889 9.92574 0.375722 9.96346 0.46911C10.0012 0.562499 10.0197 0.662527 10.0179 0.76323C10.0162 0.863933 9.99411 0.963247 9.95312 1.05525C9.91213 1.14725 9.85303 1.23005 9.77934 1.29871L5.52934 5.54871C5.38871 5.68916 5.19809 5.76805 4.99934 5.76805C4.80059 5.76805 4.60997 5.68916 4.46934 5.54871L0.21934 1.29871C0.0788894 1.15808 0 0.967459 0 0.768708C0 0.569957 0.0788894 0.379334 0.21934 0.238708Z"
					></path>
				</svg>
			</button>

			<ul class="menu" id="menu-body">
				<li class="menu__item">
					<a href="/app/profile">Profile</a>
				</li>
				<li class="menu__item">
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</header>

<script>
	const menuTrigger = document.getElementById("menu-trigger");
	const menuBody = document.getElementById("menu-body");

	menuTrigger.addEventListener("click", () => {
		menuBody.classList.toggle("is-active");

		if (menuBody.classList.contains("is-active")) {
			menuBody.style.height = `${menuBody.scrollHeight}px`;
			menuTrigger?.querySelector("svg")?.style.setProperty("transform", "rotate(90deg)");
		} else {
			menuBody.style.height = "0px";
			menuTrigger?.querySelector("svg")?.style.setProperty("transform", "rotate(0deg)");
		}
	});
</script>
