<div class="loginform">
	<h2>Küsten-Shuttle,<br />Mobilität neu definiert!</h2>
	<p>Werde Teil unserer Community und erlebe, wie einfach Mobilität sein kann!</p>

	<form class="loginform__form" action="/app" method="GET">
		<div class="loginform__form--input">
			<div class="icon">
				<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M4.00409 13.1959C3.24819 12.4401 2.69037 11.5095 2.38004 10.4866C2.06971 9.46365 2.01645 8.37998 2.22497 7.33156C2.4335 6.28314 2.89737 5.30233 3.57551 4.47601C4.25365 3.64969 5.12511 3.00337 6.1127 2.59431C7.10029 2.18525 8.17353 2.02606 9.23734 2.13086C10.3011 2.23566 11.3227 2.60121 12.2115 3.19512C13.1003 3.78903 13.8288 4.59298 14.3327 5.53574C14.8366 6.4785 15.1001 7.53097 15.1001 8.59993C15.1001 8.93145 14.9684 9.24939 14.734 9.48381C14.4995 9.71823 14.1816 9.84993 13.8501 9.84993C13.5186 9.84993 13.2006 9.71823 12.9662 9.48381C12.7318 9.24939 12.6001 8.93145 12.6001 8.59993C12.6 7.63249 12.2493 6.69787 11.6129 5.96919C10.9765 5.24051 10.0977 4.76716 9.13904 4.63681C8.18042 4.50646 7.20705 4.72795 6.39922 5.26025C5.59139 5.79255 5.00385 6.59959 4.74543 7.53188C4.48702 8.46416 4.57524 9.45851 4.99375 10.3307C5.41227 11.203 6.13272 11.894 7.02165 12.2757C7.91058 12.6575 8.90774 12.7041 9.82843 12.407C10.7491 12.11 11.5309 11.4893 12.0291 10.6599C12.4258 11.0105 12.9152 11.2391 13.4387 11.3183C13.9621 11.3975 14.4973 11.3239 14.98 11.1064C15.4626 10.8889 15.8722 10.5367 16.1596 10.0921C16.447 9.64744 16.5999 9.12933 16.6001 8.59993C16.6 6.74909 15.9582 4.95554 14.784 3.52486C13.6098 2.09419 11.9758 1.11492 10.1605 0.753897C8.34526 0.392878 6.46095 0.672452 4.82869 1.54498C3.19643 2.41751 1.9172 3.82902 1.20897 5.53899C0.500736 7.24896 0.407324 9.1516 0.944646 10.9227C1.48197 12.6938 2.61678 14.2239 4.15572 15.2521C5.69466 16.2803 7.54252 16.7431 9.38444 16.5617C11.2264 16.3802 12.9484 15.5657 14.2571 14.2569C14.3896 14.1147 14.4617 13.9267 14.4583 13.7324C14.4548 13.5381 14.3761 13.3527 14.2387 13.2153C14.1013 13.0779 13.9159 12.9992 13.7216 12.9957C13.5273 12.9923 13.3393 13.0644 13.1971 13.1969C12.5935 13.8006 11.8769 14.2795 11.0882 14.6062C10.2996 14.9329 9.45425 15.101 8.60059 15.101C7.74692 15.101 6.90162 14.9329 6.11295 14.6062C5.32428 14.2795 4.60769 13.8006 4.00409 13.1969V13.1959ZM8.60009 6.09993C7.93705 6.09993 7.30116 6.36332 6.83232 6.83216C6.36348 7.301 6.10009 7.93689 6.10009 8.59993C6.10009 9.26297 6.36348 9.89885 6.83232 10.3677C7.30116 10.8365 7.93705 11.0999 8.60009 11.0999C9.26313 11.0999 9.89901 10.8365 10.3679 10.3677C10.8367 9.89885 11.1001 9.26297 11.1001 8.59993C11.1001 7.93689 10.8367 7.301 10.3679 6.83216C9.89901 6.36332 9.26313 6.09993 8.60009 6.09993Z"
						fill="#9E9E9E"></path>
				</svg>
			</div>
			<input type="text" name="email" id="email" placeholder="E-Mail" />
		</div>
		<div class="loginform__form--input">
			<div class="icon">
				<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M7 0C5.80653 0 4.66193 0.474106 3.81802 1.31802C2.97411 2.16193 2.5 3.30653 2.5 4.5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H12C12.5304 18 13.0391 17.7893 13.4142 17.4142C13.7893 17.0391 14 16.5304 14 16V10C14 9.46957 13.7893 8.96086 13.4142 8.58579C13.0391 8.21071 12.5304 8 12 8H11.5V4.5C11.5 3.30653 11.0259 2.16193 10.182 1.31802C9.33807 0.474106 8.19347 0 7 0ZM10 8V4.5C10 3.70435 9.68393 2.94129 9.12132 2.37868C8.55871 1.81607 7.79565 1.5 7 1.5C6.20435 1.5 5.44129 1.81607 4.87868 2.37868C4.31607 2.94129 4 3.70435 4 4.5V8H10Z"
						fill="#9E9E9E"></path>
				</svg>
			</div>
			<input type="password" name="password" id="password" placeholder="Passwort" />
		</div>
		<button type="submit">mit Email anmelden</button>
	</form>
	<div class="loginform__separator">
		<hr />
		<p>oder</p>
		<hr />
	</div>

	<div class="loginform__footer">
		<p>Noch kein Konto? <a href="/register">Jetzt Registrieren</a> und Durchstarten!</p>
	</div>
</div>
